{% comment %} you can always turn off the speedupkernel{% endcomment %}
{%- assign speedupkernel = true -%}
{%- assign is_admin_interface = false -%}

{%- if speedupkernel -%}
{%- if request.host contains 'myshopify.com' -%}
{%- assign is_admin_interface = true -%}
{%- else -%}
{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if request.host contains 'shopifypreview.com' -%}
{%- assign is_admin_interface = false -%}
{%- endif -%}

{%- if request.host contains 'gempages.net' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}	

{%- if request.path contains 'cart' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'checkout' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'pages' -%}
{%- assign is_admin_interface = true -%}
{%- endif -%}

{%- if request.path contains 'blog' -%}
{%- assign speedupkernel = true -%}
{%- endif -%}
{%- endif -%}
<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>


  <script>
    let array = [];
    function x_parentNode_insertBefore(src) {
      if(typeof isUnblocked != "undefiend")
      {
        if(isUnblocked)
        {
          var script = document.createElement('script');
          script.src = src;
          document.getElementsByTagName('head')[0].appendChild(script);

        }
        else{
          array.push(src);
        }

      }
      else


      {

        array.push(src);

      }


    }
    function first_parentNode_insertBefore(src){
      array.push(src);
    }
  </script>

  <script>
    var _0x5349=['platform','classList','createElement','attributes','No-optimization','removeChild','getElementById','data-srcset','readyState','8233rrwTlW','checkout','mousemove','top','srcset','dataset','location','http-www-customtapes-com.myshopify.com','dispatchEvent','Linux\x20x86_64','width','querySelectorAll','.lazybg','appendChild','data-src','insertBefore','rel','lazybg','stylesheet','1897690eBdiuW','lazy2','setAttribute','scroll','wnw_load','link[data-href]','img.lazy2','body','onload','Yes-optimization','nextSibling','innerHTML','572171GEjXnu','mobsrc','innerHeight','getAttribute','script[type=lazyload2]','forEach','805408pNJrvU','9995jWVcqK','log','script','remove','DOMContentLoaded','src','data-href','onreadystatechange','iframe','touchstart','1165575NTzyQw','nodeName','mobstyle','1004847ImCLpH','cart','indexOf','open','type','length','initEvent','11FWFliM','parentNode','1gIAEGT','style[type=lazyload2]','value','addEventListener','onerror','href','nodeValue','style','createEvent','name'];var _0x4e3b0e=_0x1e4d;(function(_0x318486,_0x20ec39){var _0x5a5f79=_0x1e4d;while(!![]){try{var _0x3580bf=parseInt(_0x5a5f79(0x15f))+parseInt(_0x5a5f79(0x11c))*-parseInt(_0x5a5f79(0x162))+-parseInt(_0x5a5f79(0x154))+-parseInt(_0x5a5f79(0x14e))+-parseInt(_0x5a5f79(0x11a))*parseInt(_0x5a5f79(0x12f))+parseInt(_0x5a5f79(0x155))+parseInt(_0x5a5f79(0x142));if(_0x3580bf===_0x20ec39)break;else _0x318486['push'](_0x318486['shift']());}catch(_0x1561c2){_0x318486['push'](_0x318486['shift']());}}}(_0x5349,0x928cf));var src,srcset,windowWidth,critical2,lazyBackground,lazyIframe,lazybg,xmlhttp,s,i,flag=0x1,lazy_load_by_px=0xc8,external_single_loaded=0x1;function wnw_init(){flag&&(flag=0x0,lazyLoadImg(),lazyLoadBackground(),lazyLoadStyle(),lazyLoadCss(),load_all_js(),lazyLoadIframe());}function insertAfter(_0x1cda90,_0x55535b){var _0x2c0125=_0x1e4d;_0x55535b['parentNode'][_0x2c0125(0x13e)](_0x1cda90,_0x55535b[_0x2c0125(0x14c)]);}function lazyLoadImg(){var _0x42338f=_0x1e4d,_0x3d7592=document['querySelectorAll'](_0x42338f(0x148)),_0x19867e=window[_0x42338f(0x150)];for(i=0x0;i<_0x3d7592[_0x42338f(0x167)];i++){var _0x5ca606=_0x3d7592[i]['getBoundingClientRect']();0x0!=_0x5ca606[_0x42338f(0x132)]&&_0x5ca606[_0x42338f(0x132)]-_0x19867e<lazy_load_by_px&&(src=windowWidth<0x258?void 0x0===_0x3d7592[i]['dataset'][_0x42338f(0x14f)]?_0x3d7592[i][_0x42338f(0x134)][_0x42338f(0x15a)]:_0x3d7592[i][_0x42338f(0x134)]['mobsrc']:void 0x0===_0x3d7592[i][_0x42338f(0x134)]['src']?_0x3d7592[i][_0x42338f(0x15a)]:_0x3d7592[i]['dataset'][_0x42338f(0x15a)],srcset=_0x3d7592[i]['getAttribute'](_0x42338f(0x12d))?_0x3d7592[i][_0x42338f(0x151)](_0x42338f(0x12d)):'',null!=src&&''!=src&&(_0x3d7592[i][_0x42338f(0x15a)]=src),null!=srcset&&''!=srcset&&(_0x3d7592[i][_0x42338f(0x133)]=srcset),_0x3d7592[i][_0x42338f(0x127)]['remove'](_0x42338f(0x143)));}}function lazyLoadBackground(){var _0x2e4c80=_0x1e4d;(lazyBackground=document[_0x2e4c80(0x13a)](_0x2e4c80(0x13b)))['forEach'](function(_0x161bf9){var _0x901a37=_0x2e4c80;null!=(lazybg=windowWidth<0x258?void 0x0===_0x161bf9[_0x901a37(0x134)][_0x901a37(0x161)]?_0x161bf9['dataset'][_0x901a37(0x123)]:_0x161bf9[_0x901a37(0x134)][_0x901a37(0x161)]:void 0x0===_0x161bf9['dataset'][_0x901a37(0x123)]?_0x161bf9[_0x901a37(0x123)]:_0x161bf9[_0x901a37(0x134)][_0x901a37(0x123)])&&''!=lazybg&&(_0x161bf9[_0x901a37(0x123)]=lazybg),_0x161bf9[_0x901a37(0x127)][_0x901a37(0x158)](_0x901a37(0x140));});}function _0x1e4d(_0x3a6758,_0x5f5137){return _0x1e4d=function(_0x534934,_0x1e4d5f){_0x534934=_0x534934-0x11a;var _0x66f7bd=_0x5349[_0x534934];return _0x66f7bd;},_0x1e4d(_0x3a6758,_0x5f5137);}function lazyLoadCss(){var _0x21a695=_0x1e4d,_0x2dd222=document['querySelectorAll'](_0x21a695(0x147));for(i=0x0;i<_0x2dd222[_0x21a695(0x167)];i++){var _0x2beb2b=document[_0x21a695(0x128)]('link');_0x2beb2b[_0x21a695(0x121)]=_0x2dd222[i][_0x21a695(0x151)](_0x21a695(0x15b)),_0x2beb2b[_0x21a695(0x13f)]=_0x21a695(0x141),delete _0x2dd222[i][_0x21a695(0x134)][_0x21a695(0x121)],_0x2dd222[i][_0x21a695(0x11b)][_0x21a695(0x13e)](_0x2beb2b,_0x2dd222[i]),_0x2dd222[i][_0x21a695(0x11b)][_0x21a695(0x12b)](_0x2dd222[i]);}}function lazyLoadStyle(){var _0x4445ce=_0x1e4d,_0x10d154=document[_0x4445ce(0x13a)](_0x4445ce(0x11d));for(i=0x0;i<_0x10d154['length'];i++){var _0x66eff5=document[_0x4445ce(0x128)]('style');_0x66eff5[_0x4445ce(0x14d)]=_0x10d154[i]['innerHTML'],_0x10d154[i]['parentNode'][_0x4445ce(0x13e)](_0x66eff5,_0x10d154[i]),_0x10d154[i][_0x4445ce(0x11b)][_0x4445ce(0x12b)](_0x10d154[i]);}}function lazyLoadIframe(){var _0x194d37=_0x1e4d;(lazyIframe=document['querySelectorAll'](_0x194d37(0x15d)))['forEach'](function(_0x4a075f){var _0x41001f=_0x194d37;null!=_0x4a075f[_0x41001f(0x134)][_0x41001f(0x15a)]&&''!=_0x4a075f[_0x41001f(0x134)]['src']&&(_0x4a075f[_0x41001f(0x15a)]=_0x4a075f[_0x41001f(0x134)]['src']);});}function w3_load_js_uri(_0x148fa8){var _0x460652=_0x1e4d,_0x2764c7=document[_0x460652(0x128)]('script');if(void 0x0!==_0x148fa8[_0x460652(0x129)]){for(var _0x2c3b71,_0x39c8e4=0x0,_0x4554a3=_0x148fa8[_0x460652(0x129)],_0x37f424=_0x4554a3['length'];_0x39c8e4<_0x37f424;_0x39c8e4++)_0x460652(0x13d)!=(_0x2c3b71=_0x4554a3[_0x39c8e4])[_0x460652(0x160)]&&_0x460652(0x166)!=_0x2c3b71['nodeName']&&_0x2764c7[_0x460652(0x144)](_0x2c3b71[_0x460652(0x160)],_0x2c3b71[_0x460652(0x122)]);}return _0x2764c7[_0x460652(0x15a)]=_0x148fa8[_0x460652(0x151)]('data-src'),insertAfter(_0x2764c7,_0x148fa8),delete _0x148fa8[_0x460652(0x134)][_0x460652(0x15a)],delete _0x148fa8[_0x460652(0x166)],_0x148fa8[_0x460652(0x11b)]['removeChild'](_0x148fa8),_0x2764c7;}function w3_load_inline_js_single(_0x49f9d9){var _0x150603=_0x1e4d;if(!external_single_loaded)return setTimeout(function(){w3_load_inline_js_single(_0x49f9d9);},0xc8),!0x1;for(var _0x4ea3ca=document[_0x150603(0x128)](_0x150603(0x157)),_0x2fd8ed=0x0;_0x2fd8ed<_0x49f9d9[_0x150603(0x129)][_0x150603(0x167)];_0x2fd8ed++){var _0x34040a=_0x49f9d9['attributes'][_0x2fd8ed];'type'!=_0x34040a[_0x150603(0x125)]&&_0x4ea3ca[_0x150603(0x144)](_0x34040a[_0x150603(0x125)],_0x34040a[_0x150603(0x11e)]);}_0x4ea3ca[_0x150603(0x14d)]=_0x49f9d9[_0x150603(0x14d)],insertAfter(_0x4ea3ca,_0x49f9d9),_0x49f9d9[_0x150603(0x11b)][_0x150603(0x12b)](_0x49f9d9);}function lazyLoadScripts(){var _0x533c52=_0x1e4d,_0x389c71=document['querySelectorAll'](_0x533c52(0x152));if(!(_0x389c71[_0x533c52(0x167)]<0x1)){if(null!==_0x389c71[0x0][_0x533c52(0x151)]('data-src')){var _0x50aa84=w3_load_js_uri(_0x389c71[0x0]);_0x50aa84['onload']=function(){lazyLoadScripts();},_0x50aa84[_0x533c52(0x120)]=function(){lazyLoadScripts();};}else w3_load_inline_js_single(_0x389c71[0x0]),lazyLoadScripts();}}function lazyLoadCss2(_0x4ad726,_0x282419){var _0x10d71e=_0x1e4d;(xmlhttp=new XMLHttpRequest())[_0x10d71e(0x15c)]=function(){var _0x252251=_0x10d71e;0x4==this[_0x252251(0x12e)]&&0xc8==this['status']&&(document[_0x252251(0x12c)](_0x282419)[_0x252251(0x14d)]=this['responseText']);},xmlhttp[_0x10d71e(0x165)]('GET',_0x4ad726,!0x0),xmlhttp['send']();}function lazyLoadJS(_0x198984){var _0x535c61=_0x1e4d;(s=document[_0x535c61(0x128)](_0x535c61(0x157)))[_0x535c61(0x15a)]=_0x198984,s[_0x535c61(0x14a)]=function(){var _0x5d388a=_0x535c61;document[_0x5d388a(0x149)][_0x5d388a(0x13c)](s);};}function load_all_js(){var _0xd13b25=_0x1e4d;window[_0xd13b25(0x135)][_0xd13b25(0x121)][_0xd13b25(0x164)](_0xd13b25(0x136))>-0x1||window[_0xd13b25(0x135)][_0xd13b25(0x121)][_0xd13b25(0x164)](_0xd13b25(0x163))>-0x1||window[_0xd13b25(0x135)][_0xd13b25(0x121)][_0xd13b25(0x164)](_0xd13b25(0x130))>-0x1?console[_0xd13b25(0x156)](_0xd13b25(0x12a)):(console['log'](_0xd13b25(0x14b)),setTimeout(function(){var _0x50678a=_0xd13b25,_0x10fe5d=new Event(_0x50678a(0x146));window[_0x50678a(0x137)](_0x10fe5d);},0xc8)),lazyLoadScripts(),setTimeout(function(){var _0x2e1549=_0xd13b25,_0x2db5a2=document[_0x2e1549(0x124)]('Event');_0x2db5a2[_0x2e1549(0x168)]('DOMContentLoaded2',!0x0,!0x0),window['document'][_0x2e1549(0x137)](_0x2db5a2),(critical2=document[_0x2e1549(0x13a)]('.critical2'))[_0x2e1549(0x153)](function(_0xcfee60){var _0x35fc27=_0x2e1549;_0xcfee60[_0x35fc27(0x14d)]='';});},0xbb8);}document[_0x4e3b0e(0x11f)](_0x4e3b0e(0x159),function(){var _0x3302c2=_0x4e3b0e;windowWidth=screen[_0x3302c2(0x139)],window['addEventListener'](_0x3302c2(0x145),function(){lazyLoadImg(),wnw_init();}),window[_0x3302c2(0x11f)](_0x3302c2(0x131),function(){lazyLoadImg(),wnw_init();}),_0x3302c2(0x138)!=navigator[_0x3302c2(0x126)]&&wnw_init(),window[_0x3302c2(0x11f)](_0x3302c2(0x15e),function(){lazyLoadImg(),wnw_init();});});
  </script>

  <meta name="facebook-domain-verification" content="nw0ujpp38b47pabwt5t3ahuh2bljda" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">

  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  {%- assign header_font = settings.type_header_font -%}
  {%- assign base_font = settings.type_base_font -%}
  {%- assign base_font_bolder = base_font | font_modify: 'weight', 'bolder' -%}
  {%- assign base_font_bold = base_font | font_modify: 'weight', 'bold' -%}
  {%- assign base_font_italic = base_font | font_modify: 'style', 'italic' -%}
  {%- assign base_font_bold_italic = base_font_bold | font_modify: 'style', 'italic' -%}


  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'owl.carousel.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'fonts-load.css' | asset_url }}" as="style">
  

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {% if page_description %}
      {% if template == 'collection-list' %}
          <meta name="description" content="Main Collections for CustomTapes.com.">
      {% else %}
          <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
  {% endif %}

  {% include 'social-meta-tags' %}
  {% include 'css-variables' %}

  <style>*,::after,::before{box-sizing:border-box}body{margin:0}body,html{background-color:var(--color-body)}body,button{font-size:calc(var(--font-size-base) * 1px);font-family:var(--font-stack-body);font-style:var(--font-style-body);font-weight:var(--font-weight-body);color:var(--color-text);line-height:1.5}body,button{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%}.border-bottom{border-bottom:1px solid var(--color-border)}.btn--link{background-color:transparent;border:0;margin:0;color:var(--color-text);text-align:left}.text-right{text-align:right}.icon{display:inline-block;width:20px;height:20px;vertical-align:middle;fill:currentColor}.icon__fallback-text,.visually-hidden{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}svg.icon:not(.icon--full-color) circle,svg.icon:not(.icon--full-color) ellipse,svg.icon:not(.icon--full-color) g,svg.icon:not(.icon--full-color) line,svg.icon:not(.icon--full-color) path,svg.icon:not(.icon--full-color) polygon,svg.icon:not(.icon--full-color) polyline,svg.icon:not(.icon--full-color) rect,symbol.icon:not(.icon--full-color) circle,symbol.icon:not(.icon--full-color) ellipse,symbol.icon:not(.icon--full-color) g,symbol.icon:not(.icon--full-color) line,symbol.icon:not(.icon--full-color) path,symbol.icon:not(.icon--full-color) polygon,symbol.icon:not(.icon--full-color) polyline,symbol.icon:not(.icon--full-color) rect{fill:inherit;stroke:inherit}li{list-style:none}.list--inline{padding:0;margin:0}.list--inline>li{display:inline-block;margin-bottom:0;vertical-align:middle}a{color:var(--color-text);text-decoration:none}.h1,.h2,h1,h2{margin:0 0 17.5px;font-family:var(--font-stack-header);font-style:var(--font-style-header);font-weight:var(--font-weight-header);line-height:1.2;overflow-wrap:break-word;word-wrap:break-word}.h1 a,.h2 a,h1 a,h2 a{color:inherit;text-decoration:none;font-weight:inherit}.h1,h1{font-size:calc(((var(--font-h1-desktop))/ (var(--font-size-base))) * 1em);text-transform:none;letter-spacing:0}@media only screen and (max-width:749px){.h1,h1{font-size:calc(((var(--font-h1-mobile))/ (var(--font-size-base))) * 1em)}}.h2,h2{font-size:calc(((var(--font-h2-desktop))/ (var(--font-size-base))) * 1em);text-transform:uppercase;letter-spacing:.1em}@media only screen and (max-width:749px){.h2,h2{font-size:calc(((var(--font-h2-mobile))/ (var(--font-size-base))) * 1em)}}p{color:var(--color-body-text);margin:0 0 19.44444px}@media only screen and (max-width:749px){p{font-size:calc(((var(--font-size-base) - 1)/ (var(--font-size-base))) * 1em)}}p:last-child{margin-bottom:0}@media only screen and (max-width:749px){.small--hide{display:none!important}}.grid{list-style:none;margin:0;padding:0;margin-left:-30px}.grid::after{content:'';display:table;clear:both}@media only screen and (max-width:749px){.grid{margin-left:-22px}}.grid::after{content:'';display:table;clear:both}.grid--no-gutters{margin-left:0}.grid--no-gutters .grid__item{padding-left:0}.grid--table{display:table;table-layout:fixed;width:100%}.grid--table>.grid__item{float:none;display:table-cell;vertical-align:middle}.grid__item{float:left;padding-left:30px;width:100%}@media only screen and (max-width:749px){.grid__item{padding-left:22px}}.grid__item[class*="--push"]{position:relative}@media only screen and (min-width:750px){.medium-up--one-quarter{width:25%}.medium-up--push-one-third{width:33.33%}.medium-up--one-half{width:50%}.medium-up--push-one-third{left:33.33%;position:relative}}.site-header{position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header{border-bottom:1px solid var(--color-border)}}@media only screen and (min-width:750px){.site-header{padding:0 55px}.site-header.logo--center{padding-top:30px}}.site-header__logo{margin:15px 0}.logo-align--center .site-header__logo{text-align:center;margin:0 auto}@media only screen and (max-width:749px){.logo-align--center .site-header__logo{text-align:left;margin:15px 0}}@media only screen and (max-width:749px){.site-header__logo{padding-left:22px;text-align:left}.site-header__logo img{margin:0}}.site-header__logo-link{display:inline-block;word-break:break-word}@media only screen and (min-width:750px){.logo-align--center .site-header__logo-link{margin:0 auto}}.site-header__logo-image{display:block}@media only screen and (min-width:750px){.site-header__logo-image{margin:0 auto}}.site-header__logo-image img{width:100%}.site-header__logo-image--centered img{margin:0 auto}.site-header__logo img{display:block}.site-header__icons{position:relative;white-space:nowrap}@media only screen and (max-width:749px){.site-header__icons{width:auto;padding-right:13px}.site-header__icons .btn--link,.site-header__icons .site-header__cart{font-size:calc(((var(--font-size-base))/ (var(--font-size-base))) * 1em)}}.site-header__icons-wrapper{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-webkit-justify-content:flex-end;-ms-justify-content:flex-end;justify-content:flex-end}.site-header__account,.site-header__cart,.site-header__search{position:relative}.site-header__search.site-header__icon{display:none}@media only screen and (min-width:1400px){.site-header__search.site-header__icon{display:block}}.site-header__search-toggle{display:block}@media only screen and (min-width:750px){.site-header__account,.site-header__cart{padding:10px 11px}}.site-header__cart-title,.site-header__search-title{position:absolute!important;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0;display:block;vertical-align:middle}.site-header__cart-title{margin-right:3px}.site-header__cart-count{display:flex;align-items:center;justify-content:center;position:absolute;right:.4rem;top:.2rem;font-weight:700;background-color:var(--color-btn-primary);color:var(--color-btn-primary-text);border-radius:50%;min-width:1em;height:1em}.site-header__cart-count span{font-family:HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:calc(11em / 16);line-height:1}@media only screen and (max-width:749px){.site-header__cart-count{top:calc(7em / 16);right:0;border-radius:50%;min-width:calc(19em / 16);height:calc(19em / 16)}}@media only screen and (max-width:749px){.site-header__cart-count span{padding:.25em calc(6em / 16);font-size:12px}}.site-header__menu{display:none}@media only screen and (max-width:749px){.site-header__icon{display:inline-block;vertical-align:middle;padding:10px 11px;margin:0}}@media only screen and (min-width:750px){.site-header__icon .icon-search{margin-right:3px}}.announcement-bar{z-index:10;position:relative;text-align:center;border-bottom:1px solid transparent;padding:2px}.announcement-bar__link{display:block}.announcement-bar__message{display:block;padding:11px 22px;font-size:calc(((16)/ (var(--font-size-base))) * 1em);font-weight:var(--font-weight-header)}@media only screen and (min-width:750px){.announcement-bar__message{padding-left:55px;padding-right:55px}}.site-nav{position:relative;padding:0;text-align:center;margin:25px 0}.site-nav a{padding:3px 10px}.site-nav__link{display:block;white-space:nowrap}.site-nav--centered .site-nav__link{padding-top:0}.site-nav__link .icon-chevron-down{width:calc(8em / 16);height:calc(8em / 16);margin-left:.5rem}.site-nav__label{border-bottom:1px solid transparent}.site-nav__link--active .site-nav__label{border-bottom-color:var(--color-text)}.site-nav__link--button{border:none;background-color:transparent;padding:3px 10px}.site-header__mobile-nav{z-index:11;position:relative;background-color:var(--color-body)}@media only screen and (max-width:749px){.site-header__mobile-nav{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center}}.mobile-nav--open .icon-close{display:none}.main-content{opacity:0}.main-content .shopify-section{display:none}.main-content .shopify-section:first-child{display:inherit}.critical-hidden{display:none}</style>

  <link rel="preload" href="https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.gstatic.com/s/lato/v23/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://cdn.shopify.com/s/files/1/0518/6538/7192/t/16/assets/Closeness-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.shopifycdn.com/lato/lato_n4.c86cddcf8b15d564761aaa71b6201ea326f3648b.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=86bb0ce78f1d901a5c64500918d69bef6f661590ec76bee5ac67b3f7ecf3369b" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.shopifycdn.com/roboto/roboto_n4.da808834c2315f31dd3910e2ae6b1a895d7f73f5.woff2?h1=Y3VzdG9tdGFwZXMuY29t&hmac=c58d5eee28976a13f134b11ff0e21ad03d9c43ab84e7aea2e5a0895a7807859f" as="font" type="font/woff2" crossorigin>

  <script type="lazyload2">
    window.performance.mark('debut:theme_stylesheet_loaded.start');

    function onLoadStylesheet() {
      performance.mark('debut:theme_stylesheet_loaded.end');
      performance.measure('debut:theme_stylesheet_loaded', 'debut:theme_stylesheet_loaded.start', 'debut:theme_stylesheet_loaded.end');

      var url = "{{ 'theme.css' | asset_url }}";
      var link = document.querySelector('link[href="' + url + '"]');
      link.loaded = true;
      link.dispatchEvent(new Event('load'));
    }
  </script>
 {% include 'theme-style' %}
  <link rel="stylesheet" data-href="{{ 'theme.css' | asset_url }}"/>
 <style>
   .owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height .5s ease-in-out;-moz-transition:height .5s ease-in-out;-ms-transition:height .5s ease-in-out;-o-transition:height .5s ease-in-out;transition:height .5s ease-in-out}.owl-carousel .owl-item{float:left}.owl-controls .owl-buttons div,.owl-controls .owl-page{cursor:pointer}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent}.grabbing{cursor:url(grabbing.png) 8 8,move}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-theme .owl-controls{margin-top:10px;text-align:center}.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none}.owl-theme .owl-controls .owl-page{display:inline-block;zoom:1}.owl-theme .owl-controls .owl-page span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=50);opacity:.5;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#869791}.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=100);opacity:1}.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#fff;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px}
  </style>
  <link rel="stylesheet" data-href="{{ 'owl.carousel.css' | asset_url }}"/>


<link data-href="{{ 'fonts-load.css' | asset_url }}" rel="stylesheet"/>  
   <style>
    {{ header_font | font_face: font_display: 'swap' }}
    {{ base_font | font_face: font_display: 'swap' }}
    {{ base_font_bold | font_face: font_display: 'swap' }}
    {{ base_font_bolder | font_face: font_display: 'swap' }}
    {{ base_font_italic | font_face: font_display: 'swap' }}
    {{ base_font_bold_italic | font_face: font_display: 'swap' }}
  </style>
  <script type="lazyload2">
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      },
      stylesheet: "{{ 'theme.css' | asset_url }}"
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script type="lazyload2" data-src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  <script type="lazyload2" data-src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  <script type="lazyload2" data-src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>


  <script type="lazyload2">
    if (window.MSInputMethodContext && document.documentMode) {
      var scripts = document.getElementsByTagName('script')[0];
      var polyfill = document.createElement("script");
      polyfill.defer = true;
      polyfill.src = "{{ 'ie11CustomProperties.min.js' | asset_url }}";
      scripts.parentNode.insertBefore(polyfill, scripts);
    }
  </script> 
  
 
      {{ content_for_header }}
     
      <!----- Content For Header end section -->
 
<script type="lazyload2">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u=(("https:" == document.location.protocol) ? "https" : "http") + "://innercircleassets.com/analytics/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 24016]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
</script>

{% render 'minmaxify-head' %}
</head>

<body class="template-{{ request.page_type | handle }}">
  
  
  <noscript><iframe data-src="https://www.googletagmanager.com/ns.html?id=GTM-KWQVQZG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
 

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
  {%- endif -%}
  

    {% section 'header' %}
  

  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>

  
  <script type="lazyload2" data-src="{{ 'owl.carousel.min.js' | asset_url }}"></script>
  <script type="lazyload2">
    jQuery(document).ready(function() {
      if (jQuery(".product-slider .product-list").length>0) {
        jQuery(".product-slider .product-list").owlCarousel({
          items : 3,
          itemsCustom : false,
          scrollPerPage: true,
          loop: true,
          slideSpeed: 500,
          stopOnHover: true,
          itemsDesktop : [1199,3],
          itemsDesktopSmall : [991,2],
          itemsTablet: [767,2],
          itemsTabletSmall: false,
          itemsMobile : [479,1],
          itemsScaleUp : true,
          pagination : false,
          navigation : true,
          navigationText : ["prev","next"]

        });
      }

      if (jQuery(".home_slider .slider_list").length>0) {
        jQuery(".home_slider .slider_list").owlCarousel({
          items : 1,
          itemsCustom : false,
          scrollPerPage: true,
          loop: true,
          slideSpeed: 500,
          stopOnHover: true,
          itemsDesktop : [1199,1],
          itemsDesktopSmall : [991,1],
          itemsTablet: [767,1],
          itemsTabletSmall: false,
          itemsMobile : [479,1],
          itemsScaleUp : true,
          pagination : false,
          navigation : true,
          navigationText : ["prev","next"]

        });
      }

      if (jQuery(".related-slider .product-list").length>0) {
        jQuery(".related-slider .product-list").owlCarousel({
          items : 4,
          itemsCustom : false,
          scrollPerPage: true,
          loop: true,
          slideSpeed: 500,
          stopOnHover: true,
          itemsDesktop : [1199,4],
          itemsDesktopSmall : [991,3],
          itemsTablet: [767,2],
          itemsTabletSmall: false,
          itemsMobile : [479,1],
          itemsScaleUp : true,
          pagination : false,
          navigation : true,
          navigationText : ["prev","next"]

        });
      }
    });
 
  </script> 
{% include 'mw_PO_objects' %}  
<script type="lazyload2" data-src="//code.tidio.co/g97ed6ujc3vcn7w6xlcgnnhdgilpvaq3.js" async></script> 


  {% include 'spinstudio-init' %}
    <script async type="lazyload2" data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=X4V5FW"></script>
  {% include '__footerhash' %}
  </body>
</html>
