<div class="overlap_section">
  {% if section.settings.image_main != blank %}
  <div class="over_main_img"><img width="100%" height="100%" class="lazyload lazy2" data-src="{{ section.settings.image_main | img_url: '1920x' }}" alt=""></div>
  {% endif %}
  <div class="overlap_details">
    <div class="page-width">
      {% if section.settings.image_icon != blank %}
      	<div class="icon_img"><img width="100%" height="100%" class="lazyload lazy2" data-src="{{ section.settings.image_icon | img_url: '400x' }}" alt=""></div>
      {% endif %}
      {% if section.settings.main_title != blank %}
      	<h3>{{ section.settings.main_title | escape }}</h3>
      {% endif %}
      {% if section.settings.richtext != blank %}
        <div class="rich-text">{{ section.settings.richtext }}</div>
      {% endif %}
    </div>
  </div>
</div>


<div class="page-width">
  <div class="overlap_categories_block">
    {% for block in section.blocks %}
    <div class="overlap_categories_box">
      <div class="overlap_categories_inner">
        {% if block.settings.image != blank %}
        <div class="cate_img"><img width="100%" height="100%" class="lazyload lazy2" data-src="{{ block.settings.image | img_url: '600x' }}" alt=""></div>
        {% endif %}
        <div class="categories_details">
          {% if block.settings.cta_label != blank %}
          <h3>{{ block.settings.cta_label | escape }}</h3>
          {% endif %}

          {% if block.settings.link_btn != blank %}
          <a class="btn shop_btn" href="{{ block.settings.link }}">{{ block.settings.link_btn | escape }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Overlap Categories",
    "class": "overlap_categories_section",
    "max_blocks": 9,
    "settings": [
      {
        "type": "image_picker",
        "id": "image_main",
        "label": "Main Image"
      },
      {
        "type": "image_picker",
        "id": "image_icon",
        "label": "Icon"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Main Title"
      },
      {
        "type": "richtext",
        "id": "richtext",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "cta_label",
            "label": "Main Title"
          },
          {
            "type": "text",
            "id": "link_btn",
            "label": "Shop"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Overlap Categories",
        "category": "Home",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
